@model ForumsUnknown.Models.FORUM_USERS

@{
    ViewBag.Title = "DetailsUser";
}

<h2>DetailsUser</h2>

<div>
    <h4>FORUM_USERS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditUser", new {  id = Model.UserID  }) |
    @Html.ActionLink("Back to List", "Users")
</p>
