@model ForumsUnknown.Models.FORUM_USERS

@{
    ViewBag.Title = "DetailsUser";
}

<h4>User Details</h4>

<div>
    <h2 class="display-2">@Model.UserName</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("✏️", "EditUser", new {  id = Model.UserID  }, htmlAttributes: new { @class = "btn btn-outline-light" }) |
    @Html.ActionLink("⬅️", "Users", null, htmlAttributes: new { @class = "btn btn-outline-light" })
</p>
