@model List<ForumsUnknown.Models.FORUM_POSTS>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @Html.ActionLink("GO BACK", "AdminPage", "Admin", new { @class = "btn btn-secondary" })
    @Html.ActionLink("USERS", "Users", "Admin", new { @class = "btn btn-outline-light" })
    <div id="UsersDisplay">
        <table class="table text-white">
            <thead>
                <tr>
                    <th scope="col">Post ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Author ID</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr>
                        <th scope="row">@post.PostID</th>
                        <td>@post.Title</td>
                        <td>@post.Content</td>
                        <td>@post.AuthorID</td>
                        <td>@post.CreatedAt</td>
                        <td>
                            <button class="btn btn-primary">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
