@model IEnumerable<ForumsUnknown.Models.FORUM_POSTS>

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>
@Html.ActionLink("GO BACK", "AdminPage", "Admin", null,htmlAttributes: new { @class = "btn btn-secondary" })
@Html.ActionLink("USERS", "Users", "Admin", null, htmlAttributes: new { @class = "btn btn-outline-light" })

<div class="mt-2">
    <a href="@Url.Action("CreatePost","Admin")" class="btn btn-outline-primary">+Create New</a>
</div>

<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorID)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorID)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsPost", new {  id=item.PostID  }, new { @class = "btn btn-secondary" }) |
                @Html.ActionLink("Delete", "DeletePost", new {  id=item.PostID }, htmlAttributes: new { @class = "btn btn-danger", onclick = "return confirm('Delete this post?')" })
            </td>
        </tr>
    }

</table>
