@model IEnumerable<ForumsUnknown.Models.FORUM_USERS>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
@Html.ActionLink("GO BACK", "AdminPage", "Admin", new { @class = "btn btn-secondary" })
@Html.ActionLink("POSTS", "Posts", "Admin", new { @class = "btn btn-outline-light" })

<div class="mt-2">
    <a href="@Url.Action("CreateUser", "Admin")" class="btn btn-outline-primary">+Create New</a>
</div>

<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID, new { })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id=item.UserID }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "DetailsUser", new {  id=item.UserID  }, new { @class = "btn btn-secondary"}) |
                @if (item.UserID != 1)
                {
                    @Html.ActionLink("Delete", "DeleteUser", new {  id=item.UserID  }, new { @class = "btn btn-danger", onclick = "return confirm('Delete this user?')"})
                }
            </td>
        </tr>
    }

</table>
