@model IEnumerable<ForumsUnknown.Models.FORUM_POSTS>

@{
    ViewBag.Title = "MyPosts";
}

<h2 class="display-2">My Posts</h2>
<br />
<p>
    @Html.ActionLink("+ Create New", "CreatePost", "Post", htmlAttributes: new { @class = "btn btn-outline-light" })
</p>


@foreach (var item in Model)
{
    <div class="container bg-transparent post">
        
        <div class="card p-5 bg-transparent col-lg-5 border-light mx-auto custom-highlight" data-id="@item.PostID">
            <div class="d-flex justify-content-end dropend">
                <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Edit","EditPost","Post", new { id = item.PostID }, htmlAttributes: new { @class = "dropdown-item" })
                    </li>
                    <li><a class="dropdown-item text-danger" href="@Url.Action("DeletePost", "Post", new { id = item.PostID})" onclick="confirm('Delete this post?')">Delete</a></li>
                </ul>
            </div>
            <div class="card-header border-light">
                <div class="card-title display-5 fw-normal">@item.Title</div>
            </div>
            <div class="card-body">
                @item.Content
            </div>
            <div class="card-footer">
                Posted on: @item.CreatedAt
            </div>

        </div>
    </div>
    <br /> <br />

}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll(".card");

        cards.forEach(function (card) {
            card.addEventListener("click", function (event) {
                if (event.target.closest('.dropdown-toggle') || event.target.closest('.dropdown-menu')) {
                    return;
                }
                var postId = this.getAttribute("data-id");
                window.location.href = '/Post/' + postId;
            });
        });

        var dropdownToggles = document.querySelectorAll(".dropdown-toggle");
        dropdownToggles.forEach(function (toggle) {
            toggle.addEventListener("click", function (event) {
                event.stopPropagation();
            });
        });

        var dropdownItems = document.querySelectorAll(".dropdown-menu");
        dropdownItem.forEach(function (menu) {
            menu.addEventListener("click", function (event) {
                event.stopPropagation();
            })
        })
    });
</script>
