@model ForumsUnknown.Models.ForumPostViewModel

@{
    ViewBag.Title = "Post";
}
<div>
    <div class="container">
        <p>
            @Html.ActionLink("Back", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-outline-light" })
        </p>
        <div class="card bg-transparent mt-1 text-light">
            <h1 class="card-title display-2">@Model.Title</h1>
            <h5 class="card-subtitle text-secondary">by <span class="text-danger">@Model.AuthorName</span></h5>
            <hr class="w-25"/>
            <h3 class="card-body">@Model.Content</h3>
            @{ 
                string dateCreated = Model.CreatedAt?.ToString("MMMM dd yyyy");
            }
            <p class="text-secondary">@dateCreated</p> 
        </div>
    </div>
</div>

