@model ForumsUnknown.Models.FORUM_USERS
@{
    ViewBag.Title = "Login";
}

<main class="text-white mt-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-5 bg-transparent">
                    <div class="card-header display-6 brawler-regular">
                        @ViewBag.Title
                    </div>
                    <div class="card-body">
                        <!-- INSERT THE FORM HERE -->
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger"})

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName)
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control bg-transparent text-white border-0 border-bottom rounded-0" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserPassword)
                                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control bg-transparent text-white border-0 border-bottom rounded-0" } })
                                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="d-flex justify-content-center">
                                        <label class="@ViewBag.NotificationColor">@ViewBag.Notification</label>
                                    </div>
                                    <br />
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-dark w-100">Login</button>
                                    </div>
                                    <br />
                                    <div class="d-flex justify-content-center">
                                        <p>Don't have an account yet? <a href="@Url.Action("Signup","Home")" class="text-white">Sign up</a></p>
                                    </div>
                                </div>
                                <br />
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

