@model ForumsUnknown.Models.UserWithPosts

@{
    ViewBag.Title = "ViewProfile";
    string CreatedAt = Model.User.CreatedAt.ToString("MMMM dd yyyy");
    Func<DateTime?, string> FormatDate = (date) => date?.ToString("MMMM dd yyyy");
}
<p>
    @Html.ActionLink("Back", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-outline-light" })
</p>
<div>
    <h2 class="text-danger">
        @Model.User.UserName
    </h2>
    <hr />
    @if (Model.User.ProfilePicPath != null)
    {
        <div style="width: 150px;height:150px;overflow:hidden;">
            <img src="@Model.User.ProfilePicPath" alt="ProfilePicture" class="img-fluid rounded-circle border-3 border border-light" style="width: 100%; height:100%; object-fit: cover;" />
        </div>
    }
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.CreatedAt)
        </dt>
        <dd>
            @CreatedAt
        </dd>
    </dl>
</div>
<h2>Posts:</h2>
@if (Model.Posts == null || !Model.Posts.Any())
{
    <br />
    <h6 class="text-center">Did not post anything yet...</h6>
}
else
{
    foreach (var post in Model.Posts)
    {
        <div class="card bg-transparent border-1 border-light custom-highlight" data-id="@post.PostID">
            <div class="card-body">
                <h3>
                    @post.Title
                </h3>
                <p>
                    @post.Content
                </p>
                <p>
                    @FormatDate(post.CreatedAt)
                </p>
            </div>
        </div>

    }
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll(".card");

        cards.forEach(function (card) {
            card.addEventListener("click", function () {
                var postId = this.getAttribute("data-id");
                window.location.href = '/Post/' + postId;
            });
        });
    });
</script>

